body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  background-color: #16120f;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: 900;
  text-align: right;
}

.navbar ul li {
  margin-bottom: 30px;
  margin-right: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #f1ede1;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 25px;
  top: 23px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .hamburger {
    right: 50px;
  }
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: #d72323;
  margin: 3px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburger.active .bar1 {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.active .bar2 {
  display: none;
}

.hamburger.active .bar3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header {
  padding: 20px;
  background-color: #16120f;
  color: #f1ede1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@media (min-width: 1024px) {
  .header {
    padding: 20px 80px 10px;
  }
}

.header .logo {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 160px;
  text-transform: uppercase;
  font-weight: 900;
}

.header .logo span {
  font-size: 14px;
  color: #d72323;
  position: relative;
}

.header .logo span::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #d72323;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translate(2px, -50%);
          transform: translate(2px, -50%);
}

.header .logo span::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #d72323;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translate(-12px, -50%);
          transform: translate(-12px, -50%);
}

.hero {
  height: calc(100vh + 80px);
  background-image: url(../img/romek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 42px;
  color: #f1ede1;
  text-transform: uppercase;
  line-height: 1.7;
}

.hero .btn {
  background-color: #d72323;
  color: #f1ede1;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 900;
  border-radius: 5px;
}

.section {
  padding: 20px;
  text-align: center;
}

@media (min-width: 1024px) {
  .section {
    padding: 20px 80px;
  }
}

.classes {
  background-color: #16120f;
  color: #f1ede1;
}

@media (min-width: 768px) {
  .classes .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.classes .card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  text-shadow: 2px 2px 4px #16120f;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .classes .card {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
  }
}

@media (min-width: 1024px) {
  .classes .card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin-bottom: 40px;
    padding: 80px 60px;
  }
}

.classes .card h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.classes .card p {
  line-height: 1.5;
}

.classes .crossfit {
  background-image: url(../img/crossfit.jpg);
}

.classes .boxing {
  background-image: url(../img/boxing.jpg);
}

.classes .mma {
  background-image: url(../img/mma.jpg);
}

.classes .bjj {
  background-image: url(../img/bjj.jpg);
}

.classes .weights {
  background-image: url(../img/weights.jpg);
}

.schedule {
  text-align: left;
  background-color: #f1ede1;
}

@media (min-width: 768px) {
  .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .schedule .day {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    border-bottom: 2px solid #16120f;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .schedule .day {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.schedule .day-plan {
  line-height: 1.7;
}

.schedule .day-plan .time {
  font-weight: 900;
  color: #16120f;
  color: #d72323;
}

.schedule .day-plan .planned-class {
  color: #16120f;
  margin-left: 20px;
  text-transform: uppercase;
}

.coaches {
  background-color: #16120f;
  color: #f1ede1;
}

@media (min-width: 1024px) {
  .coaches h2 {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .coaches .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.coaches .card {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .coaches .card {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 1024px) {
  .coaches .card {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
}

.coaches .card img {
  width: 100%;
}

@media (min-width: 768px) {
  .coaches .card img {
    height: 240px;
  }
}

@media (min-width: 1024px) {
  .coaches .card img {
    height: 340px;
  }
}

.location {
  background-color: #f1ede1;
  padding: 0;
}

.location .map {
  height: 50vh;
}

@media (min-width: 768px) {
  .location .map {
    height: 60vh;
  }
}

.location .contact {
  background-color: #d72323;
  color: #f1ede1;
  padding: 30px 0;
}

.location .contact h3 {
  margin-bottom: 5px;
}

.location .contact .phone-number {
  font-size: 32px;
  font-weight: 100;
}

.location .contact address {
  font-style: normal;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 100;
}

.location .contact a {
  color: #f1ede1;
  text-decoration: none;
}

.location .contact p {
  font-size: 26px;
  font-weight: 100;
}

.location .contact .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location .contact .socials a {
  display: block;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  line-height: 50px;
  border-radius: 50%;
  border: 2px solid #f1ede1;
  color: #f1ede1;
  font-size: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */